@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("Spin to a random movie!", "Random", "Movies", new { @class = "btn btn-primary" })
</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <th>Movie</th>
        <th>Genre</th>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script src="~/Scripts/moviereadonly.js" type="text/javascript"></script>
}

