@model dynamic
@{
    ViewBag.Title = "Return a Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rental Return</h2>
<body>
    <form id="rentalReturn">
        <div class="form-group">
            <label>Customer</label>
            <div class="tt-container">
                <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" placeholder="Customer's Name" />
            </div>
        </div>

        <label>Active Rentals:</label>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div id="rentalsList" class='btn-group' data-toggle='buttons'></div>
            </div>
        </div>
    </form>

</body>

@section scripts {
    @Scripts.Render("~/Bundles/jqueryval")

    <script src="~/Scripts/dateFormat.js" type="text/javascript"></script>
    <script>

        $(document).ready(function () {

            var vm = {
                returns: [],
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select", function (e, customer) {
                    vm.custId = customer.id;
                    var rUrl = "/api/rentals/" + vm.custId;
                    $.ajax({
                        url: rUrl,
                        method: "get",
                        success: function (response) {
                            console.log(response);
                            $("#rentalsList").append("<div class='btn-group' data-toggle='buttons'>")
                            $.each(response, function (key, value) {
                                var rentalDate = new Date(value["dateRented"]).toDateString();
                                var movieName = value["movie"]["name"]
                                var rentalString = movieName + ", " + rentalDate;
                                $("#rentalsList").append("<div><label class='btn btn-primary btn-lg btn-block'><input type='checkbox'>" + rentalString + "</label></div>");
                            });
                        }
                    });
                });

        });

    </script>
}